@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
.contact .hello {
  background: #1C1E53;
  width: 100%;
  height: 80px;
}
.contact .hello nav {
  position: fixed;
}
.contact .hello nav .logo {
  font-size: 30px;
  line-height: 80px;
  margin: 0 100px;
}
.contact .hello nav ul {
  float: right;
  margin-right: 50px;
}
.contact .hello nav ul li {
  display: inline-block;
  line-height: 80px;
}
.contact .hello nav ul li a {
  color: #BBBBCB;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin: 20px;
  padding: 12px 15px;
  border-radius: 9px;
}
.contact .hello nav ul li a:hover {
  color: var(--White, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.contact .hello nav .btn {
  width: 185px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 41px;
  color: var(--White, #FFF);
  border: 2px solid rgba(244, 246, 252, 0.2);
}
.contact .hello nav #check {
  display: none;
}
.contact .hello nav .checkBtn {
  color: green;
  font-size: 30px;
  line-height: 80px;
  cursor: pointer;
  float: right;
  margin-right: 50px;
  display: none;
}

@media (max-width: 768px) {
  .big {
    width: 100%;
  }
  .big .contact_us {
    width: 80%;
  }
  .big .contact_us button {
    display: flex;
    width: 230px;
    height: 64px;
    padding: 15px 51px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    border: none;
    flex-shrink: 0;
    border-radius: 41px;
    transition: 0.4s;
    margin-left: -220px;
    background: var(--Dark-blue, #282938);
  }
  .big .contact_us .inputs {
    padding: 15px;
    height: 80%;
  }
  .big .contact_us .inputs .names {
    width: 40%;
  }
  .big .contact_us .inputs .names input {
    width: 100%;
    padding: 10px;
  }
  .big .contact_us .inputs .names input::-moz-placeholder {
    font-size: 16px;
    padding: 10px;
  }
  .big .contact_us .inputs .names input::placeholder {
    font-size: 16px;
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .big {
    height: 130vh;
  }
  .big .top p {
    width: 381px;
    color: var(--Dark-blue, #282938);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.7;
  }
  .big .contact_us {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  .big .contact_us button {
    display: flex;
    width: 230px;
    height: 64px;
    padding: 15px 51px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    border: none;
    flex-shrink: 0;
    border-radius: 41px;
    transition: 0.4s;
    margin-left: 0;
    background: var(--Dark-blue, #282938);
  }
  .big .contact_us .inputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .big .contact_us .inputs .names {
    width: 100%;
  }
  .big .contact_us .inputs .names input {
    width: 100%;
  }
  .big .contact_us .name input {
    padding: 5px;
    height: 50px;
  }
}
.contact .wave {
  background: #1C1E53;
}
.contact .wave .footer-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 350px;
  height: 400px;
  background: #1C1E53;
  flex-shrink: 0;
}
.contact .wave .footer-col .footer-row > img {
  width: 160px;
  height: 32.405px;
  flex-shrink: 0;
}
.contact .wave .footer-col .footer-row > p {
  width: 399px;
  color: var(--White, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.contact .wave .footer-col .row {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Yellow, #FCD980);
  width: 480px;
  height: 80px;
  flex-shrink: 0;
  margin-top: 15%;
}
.contact .wave .footer-col .row input {
  border: none;
  outline: none;
  background: var(--Yellow, #FCD980);
}
.contact .wave .footer-col .cover > h1 {
  width: 333px;
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  margin-top: -3%;
}
.contact .wave .footer-col .cover > p {
  width: 300px;
  color: var(--Grey, #F4F6FC);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding-top: 10%;
}
.contact .wave .footer-col .cover > img {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin: 10px 5px;
}

@media (max-width: 976px) {
  .contact .hello {
    position: fixed;
    background: #1C1E53;
    width: 100%;
    height: 80px;
  }
  .contact .hello nav .checkBtn {
    display: block;
    color: white;
    margin-right: -150%;
  }
  .contact .hello nav ul {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 80px;
    left: -100%;
    background-color: #1C1E53;
    text-align: center;
    transition: all 0.5s;
  }
  .contact .hello nav ul li {
    display: block;
  }
  .contact .hello nav #check:checked ~ ul {
    left: 0;
  }
  .contact .wave {
    background: #1C1E53;
  }
  .contact .wave .footer-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 0;
    gap: 80px;
    background: #1C1E53;
    flex-shrink: 0;
  }
}
@media (max-width: 768px) {
  .contact .hello {
    position: fixed;
    background: #1C1E53;
    width: 100%;
    height: 80px;
  }
  .contact .hello nav .checkBtn {
    display: block;
    color: white;
    margin-right: -90%;
  }
  .contact .hello nav ul {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 80px;
    left: -100%;
    background-color: #1C1E53;
    text-align: center;
    transition: all 0.5s;
  }
  .contact .hello nav ul li {
    display: block;
  }
  .contact .hello nav #check:checked ~ ul {
    left: 0;
  }
  .contact .wave {
    background: #1C1E53;
  }
  .contact .wave .footer-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 0;
    gap: 80px;
    background: #1C1E53;
    flex-shrink: 0;
  }
}
@media (max-width: 480px) {
  .contact .hello {
    position: fixed;
    background: #1C1E53;
    width: 100%;
    height: 80px;
  }
  .contact .hello nav .checkBtn {
    display: block;
    margin-right: -5%;
    color: white;
  }
  .contact .hello nav ul {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 80px;
    left: -100%;
    background-color: #1C1E53;
    text-align: center;
    transition: all 0.5s;
  }
  .contact .hello nav ul li {
    display: block;
  }
  .contact .hello nav #check:checked ~ ul {
    left: 0;
  }
  .contact .wave {
    background: #1C1E53;
  }
  .contact .wave .footer-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 0;
    gap: 80px;
    height: 700px;
    background: #1C1E53;
    flex-shrink: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1240px;
}

input {
  outline: none;
}

.big {
  display: flex;
  height: 110vh;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.big .top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.big .top h2 {
  color: var(--Dark-blue, #282938);
  text-align: center;
  /* Heading 2 */
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
}
.big .top p {
  width: 500px;
  color: var(--Dark-blue, #282938);
  text-align: center;
  /* Body 1 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  opacity: 0.7;
}
.big .contact_us {
  width: 800px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--Grey, #F4F6FC);
  display: flex;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 33px;
}
.big .contact_us button {
  display: flex;
  width: 270px;
  height: 64px;
  padding: 15px 51px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  border: none;
  flex-shrink: 0;
  border-radius: 41px;
  transition: 0.4s;
  margin-left: -375px;
  background: var(--Dark-blue, #282938);
}
.big .contact_us button:hover {
  color: #282938;
  background: #fff;
  border: #282938 1px solid;
}
.big .contact_us .name {
  width: 88%;
}
.big .contact_us .name input {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  width: 100%;
  height: 100px;
  padding: 18px 32px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}
.big .contact_us .inputs {
  padding: 33px;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.big .contact_us .inputs .names {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.big .contact_us .inputs .names h1 {
  color: #000;
  /* Label 01 */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
}
.big .contact_us .inputs .names input {
  width: 300px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  display: inline-flex;
  padding: 10px 32px;
  align-items: flex-start;
  gap: 10px;
}

@media (max-width: 768px) {
  .big {
    width: 100%;
  }
  .big .contact_us {
    width: 80%;
  }
  .big .contact_us button {
    display: flex;
    width: 230px;
    height: 64px;
    padding: 15px 51px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    border: none;
    flex-shrink: 0;
    border-radius: 41px;
    transition: 0.4s;
    margin-left: -220px;
    background: var(--Dark-blue, #282938);
  }
  .big .contact_us .inputs {
    padding: 15px;
    height: 80%;
  }
  .big .contact_us .inputs .names {
    width: 40%;
  }
  .big .contact_us .inputs .names input {
    width: 100%;
    padding: 10px;
  }
  .big .contact_us .inputs .names input::-moz-placeholder {
    font-size: 16px;
    padding: 10px;
  }
  .big .contact_us .inputs .names input::placeholder {
    font-size: 16px;
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .big {
    height: 130vh;
  }
  .big .top p {
    width: 381px;
    color: var(--Dark-blue, #282938);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.7;
  }
  .big .contact_us {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  .big .contact_us button {
    display: flex;
    width: 230px;
    height: 64px;
    padding: 15px 51px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    border: none;
    flex-shrink: 0;
    border-radius: 41px;
    transition: 0.4s;
    margin-left: 0;
    background: var(--Dark-blue, #282938);
  }
  .big .contact_us .inputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .big .contact_us .inputs .names {
    width: 100%;
  }
  .big .contact_us .inputs .names input {
    width: 100%;
  }
  .big .contact_us .name input {
    padding: 5px;
    height: 50px;
  }
}/*# sourceMappingURL=style1.css.map */